In [ ]:
POOL_STAGE_DB_URL = ''
MASTER_DB_URL = ''
import psycopg2

In [7]:
connection = psycopg2.connect(POOL_STAGE_DB_URL)
cursor = connection.cursor()

## Stage DB Collection

First we will need to pull all of the data from the stage DB.

In [8]:
get_assignments_sql = """
SELECT * FROM assignment WHERE uploaded = FALSE OR uploaded IS NULL;"""

#Query the stage db
assignments = []
try:
    cursor.execute(get_assignments_sql)
    assignments = cursor.fetchall()
except Exception as e:
    print(f"Error querying stage database: {e}")
finally:   
    cursor.close()
    connection.close()

In [9]:
assignments

[(1, 33682, 5, None),
 (2, 33732, 6, None),
 (3, 18611, 7, None),
 (4, 18598, 8, None),
 (5, 18608, 9, None),
 (6, 17834, 10, None),
 (7, 18075, 11, None),
 (8, 17826, 12, None),
 (9, 17987, 14, None),
 (10, 17816, 15, None),
 (11, 17918, 16, None),
 (12, 17884, 17, None),
 (13, 17658, 18, None),
 (14, 17751, 19, None),
 (15, 17708, 20, None),
 (16, 17292, 21, None),
 (17, 8080, 22, None),
 (18, 7996, 23, None),
 (19, 7951, 24, None),
 (20, 17906, 27, None),
 (21, 17973, 28, None),
 (22, 17904, 29, None),
 (23, 17923, 30, None),
 (24, 17250, 32, None),
 (25, 10134, 35, None),
 (26, 17357, 38, None),
 (27, 17420, 39, None),
 (28, 17341, 40, None),
 (29, 17382, 41, None),
 (30, 17333, 42, None),
 (31, 17233, 43, None),
 (32, 17228, 44, None),
 (33, 10053, 46, None),
 (34, 17255, 49, None),
 (35, 10164, 50, None),
 (36, 10171, 51, None),
 (37, 10149, 53, None),
 (38, 8273, 54, None),
 (39, 8292, 55, None),
 (40, 8918, 57, None),
 (41, 33728, 58, None),
 (42, 33727, 59, None),
 (43, 33722, 60, None),
 (44, 18643, 61, None),
 (45, 18591, 62, None),
 (46, 18587, 63, None),
 (47, 18247, 66, None),
 (48, 18093, 67, None),
 (49, 18062, 68, None),
 (50, 10015, 73, None),
 (51, 10092, 74, None),
 (52, 10093, 75, None),
 (53, 10016, 76, None),
 (54, 9988, 77, None),
 (55, 10026, 78, None),
 (56, 9991, 80, None),
 (57, 10564, 81, None),
 (58, 10480, 82, None),
 (59, 10755, 83, None),
 (60, 10723, 84, None),
 (61, 10718, 85, None),
 (62, 10621, 86, None),
 (63, 10754, 87, None),
 (64, 18890, 88, None),
 (65, 18659, 89, None),
 (66, 18864, 90, None),
 (67, 18653, 91, None),
 (68, 18676, 92, None),
 (69, 18430, 93, None),
 (70, 18387, 94, None),
 (71, 18057, 95, None),
 (72, 18133, 96, None),
 (73, 18033, 98, None),
 (74, 18098, 99, None),
 (75, 18202, 100, None),
 (76, 18851, 101, None),
 (77, 18382, 102, None),
 (78, 18285, 103, None),
 (79, 18328, 104, None),
 (80, 18330, 106, None),
 (81, 18212, 107, None),
 (82, 18070, 108, None),
 (83, 18028, 109, None),
 (84, 18021, 110, None),
 (85, 32321, 111, None),
 (86, 18103, 114, None),
 (87, 17529, 115, None),
 (88, 17560, 116, None),
 (89, 17591, 117, None),
 (90, 17626, 119, None),
 (91, 13157, 120, None),
 (92, 13132, 121, None),
 (93, 13629, 123, None),
 (94, 10345, 124, None),
 (95, 10313, 125, None),
 (96, 10991, 129, None),
 (97, 11020, 130, None),
 (98, 11517, 131, None),
 (99, 8921, 134, None),
 (100, 18688, 135, None),
 (101, 18442, 137, None),
 (102, 18693, 138, None),
 (103, 18840, 139, None),
 (104, 18263, 140, None),
 (105, 18441, 141, None),
 (106, 18359, 142, None),
 (107, 18251, 144, None),
 (108, 18269, 145, None),
 (109, 18265, 146, None),
 (110, 18352, 147, None),
 (111, 37502, 148, None),
 (112, 37529, 149, None),
 (113, 18115, 150, None),
 (114, 17564, 151, None),
 (115, 17539, 152, None),
 (116, 17578, 153, None),
 (117, 13707, 157, None),
 (118, 13642, 158, None),
 (119, 13650, 159, None),
 (120, 13645, 160, None),
 (121, 10422, 162, None),
 (122, 11026, 164, None),
 (123, 11501, 166, None),
 (124, 41350, 167, None),
 (125, 11519, 168, None),
 (126, 18304, 170, None),
 (127, 37536, 171, None),
 (128, 13082, 172, None),
 (129, 13521, 174, None),
 (130, 13702, 175, None),
 (131, 13705, 177, None),
 (132, 13691, 178, None),
 (133, 13757, 179, None),
 (134, 13753, 180, None),
 (135, 13718, 182, None),
 (136, 10257, 183, None),
 (137, 10970, 184, None),
 (138, 10956, 185, None),
 (139, 11554, 190, None),
 (140, 11591, 192, None),
 (141, 12261, 193, None),
 (142, 12260, 194, None),
 (143, 42230, 195, None),
 (144, 43501, 199, None),
 (145, 43500, 200, None),
 (146, 14998, 203, None),
 (147, 13595, 204, None),
 (148, 13513, 205, None),
 (149, 13861, 206, None),
 (150, 13734, 209, None),
 (151, 13735, 210, None),
 (152, 13767, 212, None),
 (153, 13966, 213, None),
 (154, 13968, 214, None),
 (155, 10904, 216, None),
 (156, 10809, 217, None),
 (157, 11427, 219, None),
 (158, 11430, 221, None),
 (159, 12746, 223, None),
 (160, 12718, 224, None),
 (161, 36922, 227, None),
 (162, 43473, 228, None),
 (163, 48315, 229, None),
 (164, 15016, 232, None),
 (165, 14944, 233, None),
 (166, 14927, 235, None),
 (167, 13838, 238, None),
 (168, 13872, 239, None),
 (169, 13919, 240, None),
 (170, 13949, 242, None),
 (171, 14124, 243, None),
 (172, 14369, 245, None),
 (173, 14194, 246, None),
 (174, 14191, 247, None),
 (175, 14265, 248, None),
 (176, 14262, 249, None),
 (177, 14266, 250, None),
 (178, 14195, 251, None),
 (179, 14371, 252, None),
 (180, 14263, 253, None),
 (181, 14192, 254, None),
 (182, 14340, 255, None),
 (183, 14345, 256, None),
 (184, 14339, 257, None),
 (185, 14342, 258, None),
 (186, 10866, 259, None),
 (187, 11173, 262, None),
 (188, 11190, 264, None),
 (189, 12383, 265, None),
 (190, 12861, 266, None),
 (191, 12793, 268, None),
 (192, 12846, 269, None),
 (193, 12866, 270, None),
 (194, 12833, 271, None),
 (195, 12042, 272, None),
 (196, 12112, 274, None),
 (197, 12041, 275, None),
 (198, 12475, 276, None),
 (199, 12210, 277, None),
 (200, 38750, 278, None),
 (201, 38715, 280, None),
 (202, 38716, 281, None),
 (203, 39954, 282, None),
 (204, 12248, 283, None),
 (205, 12246, 284, None),
 (206, 14939, 286, None),
 (207, 15055, 287, None),
 (208, 14930, 288, None),
 (209, 14972, 289, None),
 (210, 14974, 290, None),
 (211, 14975, 291, None),
 (212, 14921, 292, None),
 (213, 14973, 293, None),
 (214, 14982, 294, None),
 (215, 14986, 295, None),
 (216, 14981, 296, None),
 (217, 13926, 297, None),
 (218, 14322, 298, None),
 (219, 14325, 299, None),
 (220, 14332, 300, None),
 (221, 14324, 301, None),
 (222, 14271, 302, None),
 (223, 14230, 303, None),
 (224, 14229, 304, None),
 (225, 14267, 305, None),
 (226, 14355, 306, None),
 (227, 14242, 307, None),
 (228, 14350, 308, None),
 (229, 14238, 309, None),
 (230, 11090, 310, None),
 (231, 11245, 311, None),
 (232, 11223, 312, None),
 (233, 11243, 313, None),
 (234, 11719, 315, None),
 (235, 11201, 317, None),
 (236, 11641, 318, None),
 (237, 12519, 319, None),
 (238, 32598, 321, None),
 (239, 12534, 322, None),
 (240, 12809, 324, None),
 (241, 12805, 325, None),
 (242, 12133, 327, None),
 (243, 12070, 328, None),
 (244, 12478, 329, None),
 (245, 34828, 330, None),
 (246, 39048, 331, None),
 (247, 12653, 340, None),
 (248, 15432, 342, None),
 (249, 15126, 343, None),
 (250, 15264, 344, None),
 (251, 15272, 345, None),
 (252, 15670, 347, None),
 (253, 14285, 349, None),
 (254, 14299, 350, None),
 (255, 14292, 351, None),
 (256, 14222, 352, None),
 (257, 14389, 353, None),
 (258, 14220, 354, None),
 (259, 14303, 355, None),
 (260, 14213, 356, None),
 (261, 14259, 357, None),
 (262, 14386, 358, None),
 (263, 14514, 359, None),
 (264, 14412, 360, None),
 (265, 14363, 361, None),
 (266, 14186, 362, None),
 (267, 14359, 363, None),
 (268, 14361, 364, None),
 (269, 14279, 365, None),
 (270, 14411, 366, None),
 (271, 14478, 367, None),
 (272, 14516, 368, None),
 (273, 14519, 369, None),
 (274, 14470, 370, None),
 (275, 14409, 371, None),
 (276, 14493, 372, None),
 (277, 11255, 373, None),
 (278, 11235, 374, None),
 (279, 11100, 375, None),
 (280, 11251, 376, None),
 (281, 11216, 377, None),
 (282, 11730, 378, None),
 (283, 11727, 380, None),
 (284, 11726, 381, None),
 (285, 11769, 382, None),
 (286, 11754, 383, None),
 (287, 11618, 384, None),
 (288, 12286, 386, None),
 (289, 12287, 387, None),
 (290, 12310, 388, None),
 (291, 11988, 389, None),
 (292, 32813, 390, None),
 (293, 12585, 391, None),
 (294, 32571, 392, None),
 (295, 32786, 395, None),
 (296, 32552, 396, None),
 (297, 34683, 397, None),
 (298, 34684, 398, None),
 (299, 34670, 400, None),
 (300, 34796, 401, None),
 (301, 34797, 403, None),
 (302, 38664, 407, None),
 (303, 38369, 410, None),
 (304, 37928, 411, None),
 (305, 44564, 413, None),
 (306, 43789, 415, None),
 (307, 5882, 416, None),
 (308, 56884, 418, None),
 (309, 39405, 419, None),
 (310, 15442, 420, None),
 (311, 15444, 421, None),
 (312, 15441, 422, None),
 (313, 15443, 423, None),
 (314, 15184, 424, None),
 (315, 15188, 425, None),
 (316, 15658, 426, None),
 (317, 15600, 427, None),
 (318, 15785, 429, None),
 (319, 14511, 430, None),
 (320, 14486, 431, None),
 (321, 14490, 432, None),
 (322, 14491, 433, None),
 (323, 14404, 434, None),
 (324, 14504, 435, None),
 (325, 14534, 436, None),
 (326, 14532, 437, None),
 (327, 14533, 438, None),
 (328, 14528, 439, None),
 (329, 14527, 440, None),
 (330, 14425, 441, None),
 (331, 14554, 442, None),
 (332, 14524, 443, None),
 (333, 11744, 445, None),
 (334, 11736, 446, None),
 (335, 11680, 447, None),
 (336, 11639, 448, None),
 (337, 11659, 449, None),
 (338, 11656, 450, None),
 (339, 11830, 451, None),
 (340, 11626, 452, None),
 (341, 11625, 453, None),
 (342, 11788, 454, None),
 (343, 11653, 456, None),
 (344, 12007, 457, None),
 (345, 11943, 459, None),
 (346, 11949, 460, None),
 (347, 12170, 461, None),
 (348, 34612, 462, None),
 (349, 34605, 464, None),
 (350, 34664, 465, None),
 (351, 34673, 467, None),
 (352, 34704, 468, None),
 (353, 34703, 469, None),
 (354, 36910, 471, None),
 (355, 36570, 474, None),
 (356, 38365, 475, None),
 (357, 42273, 476, None),
 (358, 49506, 477, None),
 (359, 42272, 478, None),
 (360, 42255, 480, None),
 (361, 45009, 484, None),
 (362, 45002, 485, None),
 (363, 56887, 487, None),
 (364, 56892, 488, None),
 (365, 56895, 489, None),
 (366, 46500, 490, None),
 (367, 15352, 491, None),
 (368, 15353, 492, None),
 (369, 15349, 493, None),
 (370, 15826, 495, None),
 (371, 15876, 497, None),
 (372, 14418, 501, None),
 (373, 14563, 503, None),
 (374, 11918, 505, None),
 (375, 11985, 508, None),
 (376, 38392, 509, None),
 (377, 11925, 510, None),
 (378, 49870, 511, None),
 (379, 44813, 513, None),
 (380, 44791, 514, None),
 (381, 44809, 515, None),
 (382, 44841, 516, None),
 (383, 44799, 517, None),
 (384, 44806, 518, None),
 (385, 44837, 519, None),
 (386, 47156, 522, None),
 (387, 47166, 523, None),
 (388, 47158, 524, None),
 (389, 47175, 525, None),
 (390, 47157, 526, None),
 (391, 47159, 527, None),
 (392, 47187, 528, None),
 (393, 47174, 529, None),
 (394, 47168, 531, None),
 (395, 47171, 532, None),
 (396, 47167, 533, None),
 (397, 36578, 534, None),
 (398, 36633, 535, None),
 (399, 36638, 536, None),
 (400, 36639, 537, None),
 (401, 42252, 540, None),
 (402, 12662, 541, None),
 (403, 42239, 542, None),
 (404, 42242, 543, None),
 (405, 42251, 544, None),
 (406, 44970, 545, None),
 (407, 45017, 546, None),
 (408, 48531, 548, None),
 (409, 48528, 549, None),
 (410, 45012, 550, None),
 (411, 45011, 551, None),
 (412, 16705, 554, None),
 (413, 16869, 555, None),
 (414, 16742, 556, None),
 (415, 15366, 559, None),
 (416, 16874, 560, None),
 (417, 15399, 561, None),
 (418, 15398, 562, None),
 (419, 15364, 563, None),
 (420, 15404, 564, None),
 (421, 15505, 565, None),
 (422, 15393, 566, None),
 (423, 15348, 567, None),
 (424, 15347, 568, None),
 (425, 15402, 570, None),
 (426, 15946, 571, None),
 (427, 15906, 572, None),
 (428, 16078, 576, None),
 (429, 16051, 577, None),
 (430, 16054, 578, None),
 (431, 16058, 579, None),
 (432, 16049, 580, None),
 (433, 14447, 581, None),
 (434, 14548, 582, None),
 (435, 47231, 588, None),
 (436, 47257, 589, None),
 (437, 47262, 590, None),
 (438, 36651, 592, None),
 (439, 36659, 593, None),
 (440, 36650, 594, None),
 (441, 36653, 595, None),
 (442, 36642, 596, None),
 (443, 36662, 598, None),
 (444, 36671, 599, None),
 (445, 40683, 600, None),
 (446, 43599, 602, None),
 (447, 42496, 603, None),
 (448, 40680, 604, None),
 (449, 43060, 605, None),
 (450, 48456, 606, None),
 (451, 56897, 609, None),
 (452, 56901, 610, None),
 (453, 42353, 611, None),
 (454, 16783, 612, None),
 (455, 16778, 613, None),
 (456, 16781, 614, None),
 (457, 16765, 615, None),
 (458, 16882, 616, None),
 (459, 17048, 617, None),
 (460, 16881, 618, None),
 (461, 17045, 619, None),
 (462, 16965, 620, None),
 (463, 16749, 621, None),
 (464, 16979, 622, None),
 (465, 15359, 623, None),
 (466, 16977, 624, None),
 (467, 16944, 625, None),
 (468, 16975, 627, None),
 (469, 16942, 628, None),
 (470, 17051, 629, None),
 (471, 15373, 630, None),
 (472, 15511, 631, None),
 (473, 15390, 632, None),
 (474, 15531, 633, None),
 (475, 15372, 634, None),
 (476, 15377, 635, None),
 (477, 15370, 636, None),
 (478, 15518, 637, None),
 (479, 15387, 638, None),
 (480, 15375, 639, None),
 (481, 15374, 640, None),
 (482, 15300, 642, None),
 (483, 15334, 643, None),
 (484, 15297, 644, None),
 (485, 15319, 645, None),
 (486, 15285, 646, None),
 (487, 15289, 647, None),
 (488, 16068, 648, None),
 (489, 16546, 651, None),
 (490, 16544, 652, None),
 (491, 16425, 653, None),
 (492, 16543, 654, None),
 (493, 11906, 657, None),
 (494, 42497, 658, None),
 (495, 43066, 659, None),
 (496, 42483, 660, None),
 (497, 42491, 661, None),
 (498, 43045, 662, None),
 (499, 42538, 663, None),
 (500, 43078, 664, None),
 (501, 42531, 665, None),
 (502, 42525, 666, None),
 (503, 56903, 668, None),
 (504, 56908, 669, None),
 (505, 56909, 670, None),
 (506, 56911, 671, None),
 (507, 56913, 672, None),
 (508, 56914, 673, None),
 (509, 56917, 674, None),
 (510, 42359, 675, None),
 (511, 42366, 676, None),
 (512, 42360, 677, None),
 (513, 42370, 678, None),
 (514, 42419, 679, None),
 (515, 42377, 680, None),
 (516, 42373, 681, None),
 (517, 35226, 682, None),
 (518, 35252, 683, None),
 (519, 16900, 684, None),
 (520, 35213, 685, None),
 (521, 35298, 686, None),
 (522, 36459, 687, None),
 (523, 16959, 688, None),
 (524, 35237, 689, None),
 (525, 16960, 690, None),
 (526, 35236, 691, None),
 (527, 16958, 692, None),
 (528, 35221, 693, None),
 (529, 16998, 695, None),
 (530, 16991, 696, None),
 (531, 17019, 697, None)]

In [10]:
#that goes id, address, pool, uploaded
import pandas as pd
columns = ["id", "address", "pool", "uploaded"]
assignments_df = pd.DataFrame(assignments, columns=columns)
assignments_df

      id  address  pool uploaded
0      1    33682     5     None
1      2    33732     6     None
2      3    18611     7     None
3      4    18598     8     None
4      5    18608     9     None
..   ...      ...   ...      ...
526  527    16958   692     None
527  528    35221   693     None
528  529    16998   695     None
529  530    16991   696     None
530  531    17019   697     None

[531 rows x 4 columns]

In [14]:
# Fetch all pool and address details in two transactions
get_pools_sql = """
SELECT * FROM pool WHERE id IN %s;"""
get_addresses_sql = """
SELECT * FROM address WHERE id IN %s;"""
# Convert numpy.int64 to Python int
unique_pool_ids = tuple(map(int, assignments_df['pool'].unique()))
unique_address_ids = tuple(map(int, assignments_df['address'].unique()))

pool_details_dict = {}
address_details_dict = {}

try:
    # Query all pool details
    connection = psycopg2.connect(POOL_STAGE_DB_URL)
    cursor = connection.cursor()
    cursor.execute(get_pools_sql, (unique_pool_ids,))
    pool_details = cursor.fetchall()
    pool_details_dict = {pool[0]: pool for pool in pool_details}  # Map pool_id to pool details

    # Query all address details
    cursor.execute(get_addresses_sql, (unique_address_ids,))
    address_details = cursor.fetchall()
    address_details_dict = {address[0]: address for address in address_details}  # Map address_id to address details
except Exception as e:
    print(f"Error querying pool or address details: {e}")
finally:
    cursor.close()
    connection.close()

pool_columns = ['id','pool_id','lat','lon','pool_type']
address_columns = ['id','address_id','address_number','lat','lon','postal_code','street_name','province_state','country','geom','municipality']


pool_details_df = pd.DataFrame(pool_details_dict.values(), columns=pool_columns)
address_details_df = pd.DataFrame(address_details_dict.values(), columns=address_columns)

In [15]:
pool_details_df

      id  pool_id        lat        lon pool_type
0      5    83061  43.549425 -80.188298         0
1      6    83062  43.549110 -80.188693         0
2      7    83063  43.551423 -80.274596         0
3      8    83064  43.551648 -80.275519         0
4      9    83065  43.551919 -80.273888         0
..   ...      ...        ...        ...       ...
526  692    83899  43.576708 -80.264922         0
527  693    83901  43.576488 -80.265575         1
528  695    83905  43.577874 -80.263373         0
529  696    83906  43.576631 -80.263653         0
530  697    83907  43.577657 -80.262421         0

[531 rows x 5 columns]

In [18]:
assignments_df.head()

   id  address  pool uploaded
0   1    33682     5     None
1   2    33732     6     None
2   3    18611     7     None
3   4    18598     8     None
4   5    18608     9     None

In [26]:
#now we will join the pool_details and address_details back to the assignments_df to get all the info in one place 

# this should have an identical number of rows output as the assignments_df, but with all the pool and address details included
merged_df = assignments_df.merge(pool_details_df, left_on='pool', right_on='id', how='left', suffixes=('', '_pool')).merge(address_details_df, left_on='address', right_on='id', how='left', suffixes=('', '_addr'))
merged_df.head()

,id,address,pool,uploaded,id_pool,pool_id,lat,lon,pool_type,id_addr,address_id,address_number,lat_addr,lon_addr,postal_code,street_name,province_state,country,geom,municipality
0,1,33682,5,None,5,83061,43.549425,-80.188298,0,33682,30423,46,43.549308,-80.188093,N1L 1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000D1E638B7090C54C031B77BB94FC6...,Guelph
1,2,33732,6,None,6,83062,43.549110,-80.188693,0,33732,30473,58,43.549022,-80.188491,N1L 1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000C8258E3C100C54C06B64575A46C6...,Guelph
2,3,18611,7,None,7,83063,43.551423,-80.274596,0,18611,15352,24,43.551517,-80.274639,N1H 1L2,Kimberley Drive,Ontario,Canada,0101000020E610000031CD74AF931154C01118EB1B98C6...,Guelph
3,4,18598,8,None,8,83064,43.551648,-80.275519,0,18598,15339,29,43.551574,-80.275429,N1H 1L3,Kimberley Drive,Ontario,Canada,0101000020E6100000AED7F4A0A01154C076A911FA99C6...,Guelph
4,5,18608,9,None,9,83065,43.551919,-80.273888,0,18608,15349,18,43.551918,-80.274002,N1H 1L2,Kimberley Drive,Ontario,Canada,0101000020E61000007842AF3F891154C07009C03FA5C6...,Guelph

In [31]:
def standardize_text_fields(df):
    df['postal_code'] = df['postal_code'].str.upper().str.replace(' ', '', regex=False)
    df['street_name'] = df['street_name'].str.strip().str.title()
    df['municipality'] = df['municipality'].str.strip().str.title()
    return df

merged_df = standardize_text_fields(merged_df)
merged_df.head()

,id,address,pool,uploaded,id_pool,pool_id,lat,lon,pool_type,id_addr,address_id,address_number,lat_addr,lon_addr,postal_code,street_name,province_state,country,geom,municipality
0,1,33682,5,None,5,83061,43.549425,-80.188298,0,33682,30423,46,43.549308,-80.188093,N1L1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000D1E638B7090C54C031B77BB94FC6...,Guelph
1,2,33732,6,None,6,83062,43.549110,-80.188693,0,33732,30473,58,43.549022,-80.188491,N1L1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000C8258E3C100C54C06B64575A46C6...,Guelph
2,3,18611,7,None,7,83063,43.551423,-80.274596,0,18611,15352,24,43.551517,-80.274639,N1H1L2,Kimberley Drive,Ontario,Canada,0101000020E610000031CD74AF931154C01118EB1B98C6...,Guelph
3,4,18598,8,None,8,83064,43.551648,-80.275519,0,18598,15339,29,43.551574,-80.275429,N1H1L3,Kimberley Drive,Ontario,Canada,0101000020E6100000AED7F4A0A01154C076A911FA99C6...,Guelph
4,5,18608,9,None,9,83065,43.551919,-80.273888,0,18608,15349,18,43.551918,-80.274002,N1H1L2,Kimberley Drive,Ontario,Canada,0101000020E61000007842AF3F891154C07009C03FA5C6...,Guelph

In [32]:
def remove_duplicates(df):
    # Drop duplicates where street_name AND address_number match, along with EITHER municipality OR postal code
    mask = df.duplicated(subset=['street_name', 'address_number', 'municipality'], keep='first') | \
        df.duplicated(subset=['street_name', 'address_number', 'postal_code'], keep='first')
    df_no_duplicates = df[~mask]
    return df_no_duplicates
cleaned_df = remove_duplicates(merged_df)
cleaned_df.head()

,id,address,pool,uploaded,id_pool,pool_id,lat,lon,pool_type,id_addr,address_id,address_number,lat_addr,lon_addr,postal_code,street_name,province_state,country,geom,municipality
0,1,33682,5,None,5,83061,43.549425,-80.188298,0,33682,30423,46,43.549308,-80.188093,N1L1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000D1E638B7090C54C031B77BB94FC6...,Guelph
1,2,33732,6,None,6,83062,43.549110,-80.188693,0,33732,30473,58,43.549022,-80.188491,N1L1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000C8258E3C100C54C06B64575A46C6...,Guelph
2,3,18611,7,None,7,83063,43.551423,-80.274596,0,18611,15352,24,43.551517,-80.274639,N1H1L2,Kimberley Drive,Ontario,Canada,0101000020E610000031CD74AF931154C01118EB1B98C6...,Guelph
3,4,18598,8,None,8,83064,43.551648,-80.275519,0,18598,15339,29,43.551574,-80.275429,N1H1L3,Kimberley Drive,Ontario,Canada,0101000020E6100000AED7F4A0A01154C076A911FA99C6...,Guelph
4,5,18608,9,None,9,83065,43.551919,-80.273888,0,18608,15349,18,43.551918,-80.274002,N1H1L2,Kimberley Drive,Ontario,Canada,0101000020E61000007842AF3F891154C07009C03FA5C6...,Guelph

In [33]:
import geopandas as gpd
from shapely.geometry import box
from geopy.distance import distance
from shapely import box

def build_bbox(df):

    min_lat = df['lat'].min()
    max_lat = df['lat'].max()
    min_lon = df['lon'].min()
    max_lon = df['lon'].max()
    bbox = (min_lon, min_lat, max_lon, max_lat)

    #add a 5 km buffer to the bbox
    buffer_km = 5

    # import geopy to calculate the buffer

    bottom_left = (min_lat, min_lon)
    top_right = (max_lat, max_lon)
    bottom_left_buffered = distance(kilometers=buffer_km).destination(bottom_left, 225)  # 225 degrees is southwest
    top_right_buffered = distance(kilometers=buffer_km).destination(top_right,45)    # 45 degrees is northeast
    bbox_buffered = (bottom_left_buffered.longitude, bottom_left_buffered.latitude,
                    top_right_buffered.longitude, top_right_buffered.latitude)



    return bbox_buffered
bbox_buffered = build_bbox(cleaned_df)

In [38]:
cleaned_df.head()

,id,address,pool,uploaded,id_pool,pool_id,lat,lon,pool_type,id_addr,address_id,address_number,lat_addr,lon_addr,postal_code,street_name,province_state,country,geom,municipality
0,1,33682,5,None,5,83061,43.549425,-80.188298,0,33682,30423,46,43.549308,-80.188093,N1L1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000D1E638B7090C54C031B77BB94FC6...,Guelph
1,2,33732,6,None,6,83062,43.549110,-80.188693,0,33732,30473,58,43.549022,-80.188491,N1L1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000C8258E3C100C54C06B64575A46C6...,Guelph
2,3,18611,7,None,7,83063,43.551423,-80.274596,0,18611,15352,24,43.551517,-80.274639,N1H1L2,Kimberley Drive,Ontario,Canada,0101000020E610000031CD74AF931154C01118EB1B98C6...,Guelph
3,4,18598,8,None,8,83064,43.551648,-80.275519,0,18598,15339,29,43.551574,-80.275429,N1H1L3,Kimberley Drive,Ontario,Canada,0101000020E6100000AED7F4A0A01154C076A911FA99C6...,Guelph
4,5,18608,9,None,9,83065,43.551919,-80.273888,0,18608,15349,18,43.551918,-80.274002,N1H1L2,Kimberley Drive,Ontario,Canada,0101000020E61000007842AF3F891154C07009C03FA5C6...,Guelph

In [ ]:
import sys
sys.path.append('../')
from include.db.connections import get_master_db_connection
MASTER_DB_URL=''


master_conn = get_master_db_connection(MASTER_DB_URL)

In [36]:
query = f"""
SELECT * FROM properties WHERE ST_Intersects(geom, ST_MakeEnvelope({bbox_buffered[0]}, {bbox_buffered[1]}, {bbox_buffered[2]}, {bbox_buffered[3]}, 4326));
"""
master_addresses = gpd.read_postgis(query, master_conn, geom_col='geom')
print(f"Retrieved {len(master_addresses)} addresses from master database within bounding box.")

/home/james/miniconda3/envs/gdal_env/lib/python3.10/site-packages/geopandas/io/sql.py:185: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

Retrieved 70 addresses from master database within bounding box.

/home/james/miniconda3/envs/gdal_env/lib/python3.10/site-packages/geopandas/io/sql.py:473: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(spatial_ref_sys_sql, con)

In [37]:
master_addresses = standardize_text_fields(master_addresses)

In [39]:
def remove_duplicates(input_df, master_df):
    # Drop duplicates where street_name AND address_number match, along with EITHER municipality OR postal code in master_df
    mask = input_df.apply(
        lambda row: (
            ((master_df['street_name'] == row['street_name']) &
             (master_df['address_number'] == row['address_number']) &
             (master_df['municipality'] == row['municipality'])).any() or
            ((master_df['street_name'] == row['street_name']) &
             (master_df['address_number'] == row['address_number']) &
             (master_df['postal_code'] == row['postal_code'])).any()
        ),
        axis=1
    )
    df_no_duplicates = input_df[~mask]
    return df_no_duplicates

df_final = remove_duplicates(cleaned_df, master_addresses)
df_final.head()

,id,address,pool,uploaded,id_pool,pool_id,lat,lon,pool_type,id_addr,address_id,address_number,lat_addr,lon_addr,postal_code,street_name,province_state,country,geom,municipality
0,1,33682,5,None,5,83061,43.549425,-80.188298,0,33682,30423,46,43.549308,-80.188093,N1L1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000D1E638B7090C54C031B77BB94FC6...,Guelph
1,2,33732,6,None,6,83062,43.549110,-80.188693,0,33732,30473,58,43.549022,-80.188491,N1L1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000C8258E3C100C54C06B64575A46C6...,Guelph
2,3,18611,7,None,7,83063,43.551423,-80.274596,0,18611,15352,24,43.551517,-80.274639,N1H1L2,Kimberley Drive,Ontario,Canada,0101000020E610000031CD74AF931154C01118EB1B98C6...,Guelph
3,4,18598,8,None,8,83064,43.551648,-80.275519,0,18598,15339,29,43.551574,-80.275429,N1H1L3,Kimberley Drive,Ontario,Canada,0101000020E6100000AED7F4A0A01154C076A911FA99C6...,Guelph
4,5,18608,9,None,9,83065,43.551919,-80.273888,0,18608,15349,18,43.551918,-80.274002,N1H1L2,Kimberley Drive,Ontario,Canada,0101000020E61000007842AF3F891154C07009C03FA5C6...,Guelph

In [61]:
assigment_ids_to_be_upserted = df_final['id'].tolist()
# we will use these later to update the stage db.

# now let's make an address_id column with unique int ids (generated using time hash)
import time
import hashlib
import secrets

MAX_BIGINT = 2**63 - 1  # PostgreSQL signed BIGINT max

def generate_random_bigint() -> int:
    return secrets.randbelow(MAX_BIGINT)

def generate_time_based_id():
    return generate_random_bigint()
# Generate unique address_ids for each row
df_final['address_id'] = [generate_time_based_id() for _ in range(len(df_final))]
df_final[['address_id', 'street_name', 'address_number', 'municipality']].head()

            address_id      street_name  address_number municipality
0  1481679809065298666   Glenholm Drive              46       Guelph
1  8189952701791716537   Glenholm Drive              58       Guelph
2  5555287100411562606  Kimberley Drive              24       Guelph
3  1859949693545033835  Kimberley Drive              29       Guelph
4  5871583080725510033  Kimberley Drive              18       Guelph

In [49]:
POOL_COLUMNS = ['address_id', 'pool_type']
pool_df = df_final[POOL_COLUMNS].copy()
address_df = df_final.drop(columns='pool_type')
address_df.head()

,id,address,pool,uploaded,id_pool,pool_id,lat,lon,id_addr,address_id,address_number,lat_addr,lon_addr,postal_code,street_name,province_state,country,geom,municipality
0,1,33682,5,None,5,83061,43.549425,-80.188298,33682,8985157874523924763,46,43.549308,-80.188093,N1L1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000D1E638B7090C54C031B77BB94FC6...,Guelph
1,2,33732,6,None,6,83062,43.549110,-80.188693,33732,1949674999700719292,58,43.549022,-80.188491,N1L1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000C8258E3C100C54C06B64575A46C6...,Guelph
2,3,18611,7,None,7,83063,43.551423,-80.274596,18611,3638693555836031693,24,43.551517,-80.274639,N1H1L2,Kimberley Drive,Ontario,Canada,0101000020E610000031CD74AF931154C01118EB1B98C6...,Guelph
3,4,18598,8,None,8,83064,43.551648,-80.275519,18598,2786242187361959719,29,43.551574,-80.275429,N1H1L3,Kimberley Drive,Ontario,Canada,0101000020E6100000AED7F4A0A01154C076A911FA99C6...,Guelph
4,5,18608,9,None,9,83065,43.551919,-80.273888,18608,8136990299224034324,18,43.551918,-80.274002,N1H1L2,Kimberley Drive,Ontario,Canada,0101000020E61000007842AF3F891154C07009C03FA5C6...,Guelph

In [50]:
address_df.columns

Index(['id', 'address', 'pool', 'uploaded', 'id_pool', 'pool_id', 'lat', 'lon',
       'id_addr', 'address_id', 'address_number', 'lat_addr', 'lon_addr',
       'postal_code', 'street_name', 'province_state', 'country', 'geom',
       'municipality'],
      dtype='object')

In [51]:
cols_to_keep = [ 'address_id', 'address_number', 'lat_addr', 'lon_addr',
       'postal_code', 'street_name', 'province_state', 'country', 'geom',
       'municipality']

address_df = address_df[cols_to_keep]

#rename lat_addr to lat, and lon_addr to lon for the master db schema
address_df.rename(columns={'lat_addr': 'lat', 'lon_addr': 'lon'}, inplace=True)
address_df.head()

,address_id,address_number,lat,lon,postal_code,street_name,province_state,country,geom,municipality
0,8985157874523924763,46,43.549308,-80.188093,N1L1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000D1E638B7090C54C031B77BB94FC6...,Guelph
1,1949674999700719292,58,43.549022,-80.188491,N1L1C2,Glenholm Drive,Ontario,Canada,0101000020E6100000C8258E3C100C54C06B64575A46C6...,Guelph
2,3638693555836031693,24,43.551517,-80.274639,N1H1L2,Kimberley Drive,Ontario,Canada,0101000020E610000031CD74AF931154C01118EB1B98C6...,Guelph
3,2786242187361959719,29,43.551574,-80.275429,N1H1L3,Kimberley Drive,Ontario,Canada,0101000020E6100000AED7F4A0A01154C076A911FA99C6...,Guelph
4,8136990299224034324,18,43.551918,-80.274002,N1H1L2,Kimberley Drive,Ontario,Canada,0101000020E61000007842AF3F891154C07009C03FA5C6...,Guelph

In [52]:

# Prepare the insert statement
insert_query = """
INSERT INTO properties (address_id, address_number, country, lat, lon, postal_code, 
                        street_name, municipality, province_state, geom)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, ST_GeogFromText(%s))
"""
master_conn = get_master_db_connection(MASTER_DB_URL)
try:
    cursor = master_conn.cursor()
    rows_inserted = 0
    
    for idx, row in address_df.iterrows():
        # Create WKT representation of the point
        wkt = f"POINT({row['lon']} {row['lat']})"
        
        values = (
            int(row['address_id']),
            row['address_number'],
            row['country'],
            float(row['lat']),
            float(row['lon']),
            row['postal_code'],
            row['street_name'],
            row['municipality'],
            row['province_state'],
            wkt
        )
        
        cursor.execute(insert_query, values)
        rows_inserted += 1
    
    master_conn.commit()
    cursor.close()
    print(f"Successfully uploaded {rows_inserted} addresses to properties table.")
    
except Exception as e:
    master_conn.rollback()
    print(f"Error uploading addresses: {e}")
    raise

Successfully uploaded 531 addresses to properties table.

In [54]:
change_uploaded_state = """
UPDATE assignment
SET uploaded = TRUE
WHERE id IN %s;
"""

stage_conn = psycopg2.connect(POOL_STAGE_DB_URL)
try:
    cursor = stage_conn.cursor()
    cursor.execute(change_uploaded_state, (tuple(assigment_ids_to_be_upserted),))
    stage_conn.commit()
    cursor.close()
    print(f"Successfully updated uploaded state for {len(assigment_ids_to_be_upserted)} assignments.")
except Exception as e:
    stage_conn.rollback()
    print(f"Error updating uploaded state: {e}")
    raise
finally:
    stage_conn.close()

Successfully updated uploaded state for 531 assignments.

In [66]:
# Step 2: Get the property UUIDs for the address_ids we just inserted
address_ids = pool_df['address_id'].tolist()

# Query to get id (UUID) and address_id from properties table
query = """
SELECT id, address_id 
FROM properties 
WHERE address_id = ANY(%s)
"""
conn = get_master_db_connection(MASTER_DB_URL)
cursor = conn.cursor()
cursor.execute(query, (address_ids,))
property_mappings = cursor.fetchall()
cursor.close()

# Create a mapping dict: address_id -> property_id (UUID)
address_to_property = {row[1]: row[0] for row in property_mappings}

# Add property_id column to pool_df
pool_df['property_id'] = pool_df['address_id'].map(address_to_property)

# Check if any addresses didn't get mapped
unmapped = pool_df[pool_df['property_id'].isnull()]
if len(unmapped) > 0:
    print(f"Warning: {len(unmapped)} pools couldn't be mapped to properties")
    print(unmapped)

print(f"Mapped {len(pool_df[pool_df['property_id'].notnull()])} pools to properties")
pool_df.head()

Mapped 531 pools to properties

,address_id,pool_type,property_id,pool_id
0,8985157874523924763,0,b557b67a-714f-4d06-8d3c-c836c029f486,6725440030533470637
1,1949674999700719292,0,ae7ba23b-9190-49a6-9648-2054e4785597,6725440030533470637
2,3638693555836031693,0,caf7ca46-c37c-4e3f-ad72-3e3feb576405,6725440030533470637
3,2786242187361959719,0,73e367fb-8a5c-4eeb-a593-36b4b2df9bdd,6725440030533470637
4,8136990299224034324,0,6fbe9026-4d93-4b35-adb4-b4fe3b8b3e71,6725440030533470637

In [69]:
# Step 3: Upload pools to database
# Filter out any unmapped pools
pool_df_upload = pool_df[pool_df['property_id'].notnull()].copy()

# Insert pools
insert_query = """
INSERT INTO pools ( property_id, pool_type)
VALUES ( %s, %s)
"""

try:
    cursor = conn.cursor()
    pools_inserted = 0
    
    for idx, row in pool_df_upload.iterrows():
        values = (
            row['property_id'],  # This is already a UUID string
            row['pool_type'] if pd.notna(row['pool_type']) else None
        )
        
        cursor.execute(insert_query, values)
        pools_inserted += 1
    
    conn.commit()
    cursor.close()
    print(f"Successfully uploaded {pools_inserted} pools to database.")
    
except Exception as e:
    conn.rollback()
    print(f"Error uploading pools: {e}")
    raise

Successfully uploaded 531 pools to database.